@model Portfolio

<div class="container-fluid">
    <h1>Create Portfolio</h1>
</div>

<div class="container-fluid">

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" type="text" class="form-control">
            <span asp-validation-for="@Model.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description">Description</label>
            <input asp-for="@Model.Description" type="text" class="form-control">
            <span asp-validation-for="@Model.Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ImageUrl">ImageUrl</label>
            <input asp-for="@Model.ImageUrl" type="text" class="form-control">
            <span asp-validation-for="@Model.ImageUrl"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ImageFile">ImageFile</label>
            <input asp-for="@Model.ImageFile" class="form-control">
            <span asp-validation-for="@Model.ImageFile"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.RedirectText">RedirectText</label>
            <input asp-for="@Model.RedirectText" type="text" class="form-control">
            <span asp-validation-for="@Model.RedirectText"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Client">Client</label>
            <input asp-for="@Model.Client" type="text" class="form-control">
            <span asp-validation-for="@Model.Client"></span>
        </div>
        <div class="form-group ">
            <label asp-for="CategoryId">Category</label>
            <select asp-for="CategoryId" class="form-select" aria-label="Default select example" style="margin-left:10px">
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>

</div>