@model List<Portfolio>
@{
    int counter = 0;
}


<div>
    <h1>Create Portfolio</h1>
    <a asp-controller="portfolio" asp-action="create" class="btn btn-primary ">Create</a>
</div>

<table class="table" style="overflow:scroll;max-width:1000px;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
             <th scope="col">Description</th>
              <th scope="col">ImageUrl</th>
            <th scope="col">RedirectText</th>
            <th scope="col">Client</th>
            <th scope="col">Action</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            counter++;
            <tr>
                <th scope="row">@counter</th>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.ImageUrl</td>
                <td>@item.RedirectText</td>
                <td>@item.Client</td>
                <td>
                    <a asp-controller="portfolio" asp-action="update" asp-route-id="@item.Id" class="btn btn-primary">Update</a>
                    <a asp-controller="portfolio" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger delete-btn">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
</table>
